
@model IEnumerable<ICA.Models.Articulo>
@using ICA.Utilities
<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Artículos</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
        </div>
        <div class="row">
            <div class="col">
                @if (Helpers.TieneAcceso((int)Utilities.Modulos.Articulos, "Insertar"))
                {
                    @Html.ActionLink("Agregar", "Create", null, new { @class = "modal-link btn btn-sm btn-success" })
                }
            </div>
        </div>
        <br />
        <table class="table table-striped table-bordered" id="articulosTabla">
            <thead>
                <tr>
                    <th>
                        SKU
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Tipo Producto
                    </th>
                    <th>
                        Clasificación ICA
                    </th>
                    <th>
                        Estatus
                    </th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SKU)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DescripcionTipoProducto(item.TipoProducto)
                        </td>
                        <td>
                            @Html.ValorDescripcion("CLASIFICA", item.ClasificacionICA)
                        </td>
                        <td>
                            @Html.ValorDescripcion("ESTATUS", item.Estatus)
                        </td>
                        <td class="text-center">
                            @if (Helpers.TieneAcceso((int)Utilities.Modulos.Asignacion, "Insertar"))
                            {
                                @Html.ActionLink("Asignar Criterios", "Index", "AsignacionCriterios", new { }, new { @class = "btn btn-sm btn-primary" })
                            }
                            @if (Helpers.TieneAcceso((int)Utilities.Modulos.Articulos, "Actualizar"))
                            {
                                @Html.ActionLink("Editar", "Edit", new { id = item.ARTId }, new { @class = "modal-link btn btn-sm btn-primary" })
                            }
                            @if (Helpers.TieneAcceso((int)Utilities.Modulos.Articulos, "Borrar"))
                            {
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.ARTId }, new { @class = "modal-link btn btn-sm btn-primary" })
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.ActionLink("Criterios", "Criterios", new { }, new { @class = "modal-link btn btn-sm btn-primary d-none ir-criterios" })
<div id="modal-container" class="modal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            jQuery.extend(jQuery.validator.messages, {
                required: "Este campo es requerido"
            });

            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                var link = $(this);
                $('.modal-content').load(link[0].href, function (result) {
                    $('#modal-container').modal({ show: true });
                });
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#articulosTabla').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });

        });</script>
}



